
$bar-height: 45px;
$tool-pad: 12px;

$tool-bg: #ccc;

$primary-color: #28503a;
$overlay-color: #ffa502;

$theme-colors: (
    "light": (
        "tool-bg": #eee,
        "canvas-bg": #f0f0f0,
        "grid": #bbb
    )
)