
$bar-height: 48px;
$tool-pad: 12px;
$grid-size: 16px;
$line-height: 32px;

$primary-color: #507c6b;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-highlight: lighten($primary-color, 42%);

$secondary-color: #439676;
$secondary-color-highlight: lighten($secondary-color, 42%);

$overlay-color: #ffae3d;
$overlay-color-dark: darken($overlay-color, 12%);
$guide-color: #ffae3d;
$hover-background: rgba(#000, 0.1);

$canvas-bg: #f4f4f0;
$footer-bg: darken($canvas-bg, 10%);
$grid-color: #bbb;

$hint-fg: #aaa;
$hint-bg: #eee;