@import "_shared";

$grid-sizes: 10, 15, 20;
$side-size: 32px;

#viewport {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    .canvas {
        width: 3000px;
        height: 3000px;
        .document-plane {
            font-size: 0;
            line-height: 0;
        }
        svg {
            text {
                user-select: none;
                cursor: default;
            }
            .new-button {
                cursor: pointer;
                &:hover {
                    rect {
                        fill: $overlay-color;
                    }
                    text {
                        fill: #fff;
                        cursor: pointer;
                    }
                }
                &:active {
                    rect {
                        fill: $overlay-color-dark;
                    }
                }
            }
            g.entity {
                .top-highlight {
                    stroke: rgba(#fff, 0.2);
                    stroke-width: 1px;
                }
                .bottom-highlight {
                    stroke: rgba(#000, 0.1);
                    stroke-width: 1px;
                }
            }
            g.association {
                cursor: pointer;
                polyline {
                    fill: none;
                    &.line {
                        stroke-width: 2px;
                    }
                    &.invisible {
                        stroke: transparent;
                    }
                }
                &.selected polyline.line {
                    stroke: $overlay-color-dark;
                    stroke-width: 4px;
                }
                &:hover polyline.line {
                    stroke: $overlay-color;
                }
            }
        }
        .overlay-plane {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            .entity-overlay {
                position: absolute;
                border: 2px solid $overlay-color;
            }
            .association-overlay {
                pointer-events: all;
                .side-overlay {
                    pointer-events: all;
                    position: absolute;
                    width: $side-size;
                    height: $side-size;
                    border-radius: $side-size / 2;
                    background-color: rgba($overlay-color, 0.25);
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    &:hover {
                        border: 2px solid $overlay-color;
                    }
                    &:active {
                        background-color: rgba($overlay-color, 0.5);
                    }
                }   
            }
            .rubber-band {
                position: absolute;
                border: 2px dashed $overlay-color;
            }
            .guide {
                background-color: $guide-color;
                position: absolute;
                &.top, &.bottom, &.verticalCenter {
                    height: 1px;
                    left: 0;
                    right: 0;
                }
                &.left, &.right, &.horizontalCenter {
                    width: 1px;
                    top: 0;
                    bottom: 0;
                }
            }
            .text-field {
                position: absolute;
                pointer-events: all;
                input:focus {
                    border: 2px solid $overlay-color;
                    outline: none;
                    background: lighten($overlay-color, 30%);
                }
                input[type=text] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    display: block;
                    padding: 0 8px;
                    font-size: 15px;
                }
                &.entity-name-field {
                    input[type=text] {
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@each $theme, $colors in $theme-colors {
    #app.theme-#{$theme} {
        .canvas {
            background-color: map-get($colors, "canvas-bg");
            background-image: radial-gradient(map-get($colors, "grid") 1px, transparent 0);
        }
        @each $size in $grid-sizes {
            .canvas.grid-#{$size} {
                background-size: #{$size}px #{$size}px;
                background-position: #{$size/2}px #{$size/2}px;
            }
        }
    }
}