@import "_shared";

$grid-sizes: 10, 15, 20;

#viewport {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    .canvas {
        width: 3000px;
        height: 3000px;
        .document-plane {
            font-size: 0;
            line-height: 0;
        }
        svg {
            text {
                user-select: none;
                cursor: default;
            }
        }
        .overlay-plane {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            .entity-overlay {
                position: absolute;
                border: 2px solid $overlay-color;
            }
            .rubber-band {
                position: absolute;
                border: 2px dashed $overlay-color;
            }
            .guide {
                background-color: $guide-color;
                position: absolute;
                &.horizontal {
                    height: 1px;
                    left: 0;
                    right: 0;
                }
                &.vertical {
                    width: 1px;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }
}

@each $theme, $colors in $theme-colors {
    #app.theme-#{$theme} {
        .canvas {
            background-color: map-get($colors, "canvas-bg");
            background-image: radial-gradient(map-get($colors, "grid") 1px, transparent 0);
        }
        @each $size in $grid-sizes {
            .canvas.grid-#{$size} {
                background-size: #{$size}px #{$size}px;
                background-position: #{$size/2}px #{$size/2}px;
            }
        }
    }
}