@import "_shared";

#viewport {
    position: fixed;
    top: $bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    .canvas {
        width: 3000px;
        height: 3000px;
        .document-plane {
            font-size: 0;
            line-height: 0;
        }
        svg {
            text {
                user-select: none;
                cursor: default;
            }
            .new-button {
                cursor: pointer;
                svg g {
                    cursor: pointer;
                }
                &:hover {
                    rect {
                        fill: $overlay-color;
                    }
                    svg g {
                        fill: #fff;
                    }
                }
                &:active {
                    rect {
                        fill: $overlay-color-dark;
                    }
                    svg g {
                        fill: #fff;
                    }
                }
            }
            g.entity {
                .top-highlight {
                    stroke: rgba(#fff, 0.3);
                    stroke-width: 1px;
                }
                .bottom-highlight {
                    stroke: rgba(#000, 0.1);
                    stroke-width: 1px;
                }
                &:hover .entity-background {
                    stroke: $overlay-color-dark;
                    stroke-width: 2;
                }
            }
            g.association {
                cursor: pointer;
                polyline {
                    fill: none;
                    &.line {
                        stroke-width: 2px;
                    }
                    &.invisible {
                        stroke: transparent;
                    }
                }
                &.selected polyline.line {
                    stroke: $overlay-color-dark;
                    stroke-width: 4px;
                }
                &:hover polyline.line {
                    stroke: $overlay-color;
                }
            }
        }
        .overlay-plane {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            .entity-overlay {
                position: absolute;
                border: 2px solid $overlay-color-dark;
            }
            .rubber-band {
                position: absolute;
                border: 2px dashed $overlay-color;
            }
            .guide {
                background-color: $guide-color;
                position: absolute;
                &.top, &.bottom, &.verticalCenter {
                    height: 1px;
                    left: 0;
                    right: 0;
                }
                &.left, &.right, &.horizontalCenter {
                    width: 1px;
                    top: 0;
                    bottom: 0;
                }
            }
            #new-entity-proxy {
                position: absolute;
                svg {
                    transform: scale(2);
                    g {
                        fill: $overlay-color;
                    }
                }
            }
            .text-field {
                position: absolute;
                pointer-events: all;
                input:focus {
                    border: 2px solid $overlay-color;
                    outline: none;
                    background: lighten($overlay-color, 30%);
                }
                input[type=text] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    display: block;
                    padding: 0 8px;
                    font-size: 15px;
                }
                &.entity-name-field {
                    input[type=text] {
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@each $theme, $colors in $theme-colors {
    #app.theme-#{$theme} {
        .canvas {
            background-color: map-get($colors, "canvas-bg");
            background-image: radial-gradient(map-get($colors, "grid") 1px, transparent 0);
            background-size: #{$grid-size} #{$grid-size};
            background-position: #{$grid-size/2} #{$grid-size/2};
        }
    }
}