@import "_shared";

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////////////
// Top Bar
////////////////////////////////////////////////////////////////////////////////

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $bar-height;
    background: $primary-color;
    color: #fff;
    display: flex;
    border-top: $secondary-border-width solid $secondary-color;
    .logo {
        flex: 0 0 auto;
        padding: 8px 16px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
    }
    .file {
        flex: 1 1 auto;
    }
    a.action {
        flex: 0 0 $bar-height;
        height: $bar-height;
        display: block;
        padding: 4px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(#000, 0.1);
        }
    }
}

@each $theme, $colors in $theme-colors {
    #app.theme-#{$theme} {
        .tool {
            background-color: map-get($colors, "tool-bg");
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// Selection Menu
////////////////////////////////////////////////////////////////////////////////

#selection-menu {
    position: fixed;
    right: 0;
    min-width: $bar-height;
    min-height: 100px;
    top: 50%;
    transform: translate(0, -50%);
    background: $secondary-color;
    a {
        display: block;
        font-size: 12px;
        color: #fff;
        text-align: center;
    }
}