@import "_shared";

body {
    font-family: Verdana, Geneva, sans-serif;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////////////
// Actions
////////////////////////////////////////////////////////////////////////////////

a.action {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    &.inactive {
        svg {
            opacity: 0.5;
        }
    }
    &:hover {
        background: $hover-background;
    }
    &:active {
        svg {
            transform: scale(0.96);
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// Top Bar
////////////////////////////////////////////////////////////////////////////////

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $bar-height;
    background: $primary-color;
    color: #fff;
    display: flex;
    a.logo {
        display: block;
        flex: 0 0 auto;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
    }
    .file {
        flex: 1 1 auto;
    }
    a.action {
        flex: 0 0 $bar-height;
        height: $bar-height;
        padding: 0 4px;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Selection Menu
////////////////////////////////////////////////////////////////////////////////

#selection-menu {
    position: fixed;
    right: 0;
    min-width: $bar-height;
    min-height: 100px;
    top: 50%;
    transform: translate(100%, -50%);
    transition: transform 0.2s ease;
    background: $secondary-color;
    &.show {
        transform: translate(0, -50%);
    }
}