@import "_shared";

body {
    font-family: Verdana, Geneva, sans-serif;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////////////
// Actions
////////////////////////////////////////////////////////////////////////////////

a.action {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
    &.inactive {
        svg {
            opacity: 0.5;
        }
    }
    &:hover {
        background: $hover-background;
    }
    &:active {
        svg, .color-circle {
            transform: scale(0.96);
        }
    }
    &.color {
        padding: $grid-size/2;
    }
    .color-circle {
        width: $grid-size*2;
        height: $grid-size*2;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Inputs
////////////////////////////////////////////////////////////////////////////////

#topbar input[type=text] {
    background-color: rgba(#fff, 0.1);
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-top: 1px solid rgba(#000, 0.2);
    border-bottom: 1px solid rgba(#fff, 0.2);
    &:focus {
        outline: none;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Source Picker
////////////////////////////////////////////////////////////////////////////////

.source-picker-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#aaa, 0.5);
    overflow-y: scroll;
}
.source-picker {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 5em auto;
    padding: 1em;
    background-color: $canvas-bg;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(#000, 0.2);
    h1 {
        text-align: center;
        color: $primary-color;
        font-size: 32px;
    }
    a.close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        svg g {
            fill: $secondary-color;
        }
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(0.95);
        }
    }
    .sources {
        display: flex;
        a.source {
            display: block;
            flex: 0 0 33.3%;
            padding: 1em;
            border-right: 1px solid $grid-color;
            text-align: center;
            cursor: pointer;
            h2 {
                font-size: 20px;
                color: $primary-color;
            }
            p {
                font-size: 14px;
            }
            img {
                width: 2*$bar-height;
                height: 2*$bar-height;
                margin: 0 auto;
            }
            svg {
                display: block;
                margin: 2em auto;
                transform: scale(2);
                g {
                    fill: $secondary-color;
                }
            }
            &:last-child {
                border-right: none;
            }
            &:hover {
                background-color: $secondary-color-highlight;
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// Top Bar
////////////////////////////////////////////////////////////////////////////////

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $bar-height;
    background: $primary-color;
    color: #fff;
    display: flex;
    a.logo {
        display: block;
        flex: 0 0 auto;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
    }
    .text-field {
        flex: 0 1 200px;
        padding: 8px;
        input {
            width: 100%;
        }
    }
    .spacer {
        flex: 1 1 auto;
    }
    a.action {
        flex: 0 0 $bar-height;
        height: $bar-height;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Selection Menu
////////////////////////////////////////////////////////////////////////////////

#selection-menu {
    position: fixed;
    right: 0;
    min-width: $bar-height;
    min-height: $grid-size*6;
    top: 50%;
    transform: translate(100%, -50%);
    transition: transform 0.2s ease;
    background: $secondary-color;
    color: #fff;
    text-align: center;
    &.show {
        transform: translate(0, -50%);
    }
    .one-name, .many-name, .arity {
        font-size: 14px;
        line-height: 1;
        padding: 4px 8px;
    }
    .one-name, .many-name {
        font-weight: bold;
    }
}


////////////////////////////////////////////////////////////////////////////////
// Color Menu
////////////////////////////////////////////////////////////////////////////////

.color-menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;
    width: $bar-height*4;
    left: -$bar-height*4;
    top: 0;
    a {
        flex: 0 0 auto;
    }
}